.y-axis .domain {
    stroke: #ccc;
    stroke-width: 1px;
}

.y-axis .tick text {
    color: #333;
    font-size: 15px;
}


.x-axis .domain {
    stroke: #fff;
}

.x-axis .tick line {
    stroke: #ccc;
}
